@import '../_variables.scss';

.buttonClass{
  width: 40px;
  height: 40px;
  background-image: url('../icons/play.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.activeClass{
  background-image: url('../icons/pause.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.inactiveClass{
  background-image: url('../icons/play.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}
