.progressbar{
  width: 80%;
  align-items: center;
  justify-content: center;
}

progress {
  width: 80%;
  display: block;
  margin-left: 20px;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #1A1A1A;
  border-radius: 10px;
  color: #0075C9;
  height: 10px;
}
progress[value]::-webkit-progress-bar {
  background-color: #1A1A1A;
  border: none;
  border-radius: 10px;
  color: blue;
}
progress::-webkit-progress-value {
  background-color: #0075C9;
  border-radius: 10px;
}
p {
  font-size: 1.6rem;
}
